@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap);
@import './header';
@import './index-section';
@import './trip-detail-section';
@import './variables';
@import './utitlity';
@import './users-saved-trip-section';

body {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
